<h1><%= @garden.name %></h1>
<hr>
Employee Count: <%= @garden.number_of_employees %>
<br>
Length: <%= @garden.length %>
<br>
Width: <%= @garden.width %>
<hr>
☞
<%= link_to 'View All Gardens', '/gardens' %>
<br>
☞
<%= link_to 'Edit This Garden', "/gardens/#{@garden.id}/edit" %>
<br>
<br>
<%= button_to "Delete This Garden", "/gardens/#{@garden.id}", method: :delete %>
